body {
  background-color: #000;
  
}
.thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 10px;
  color: rgb(133, 255, 133);
  text-shadow: 2px 2px 20px rgb(66, 186, 66);
  padding-right: 10px;
}

.thankyou:before {
  content: "\2713";
  font-size: 36px;
  color: rgb(133, 255, 133);
  padding-right: 10px;
}
.thankyou p {
  margin-top: 20px;
  color: white;
  text-shadow: none;
  font-size: 14px;
}
.thankyou a {
  color: rgb(190, 197, 205);
  text-decoration: none;
}

form {
  background-color: grey;
  padding: 20px;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 5px 5px 40px black;
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  width: 500px;
}

label {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 10px;
  display: block;
  color: #000;
  display: flex;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 26px;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px #000;
  font-family: sans-serif;
  background-color: grey;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px #000;
  font-family: sans-serif;
  background-color: grey;
}
#button{
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    float: right;
    box-shadow: 2px 2px 10px grey;
    transition: all 0.2s;
    align-self: flex-start;
}
#button:hover{
    transform: translateY(-2px);
    box-shadow: 2px 4px 10px grey;
    animation: hover-animation 0.4s ease-in-out forwards;
}
#button:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 10px grey;
  }

 input[type="submit"] {
  background-color: #000;
  color: white;
  margin-top: -35px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  float: right;
  box-shadow: 2px 2px 10px grey;
  transition: all 0.5s;
  align-self: flex-end;
}

 input[type="submit"]:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 10px grey;
  animation: hover-animation 0.3s ease-in-out forwards;
}

 input[type="submit"]:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 10px grey;
}

@keyframes hover-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 767px) {
  form {
    width: 70%;
    margin: 20px auto;
    margin-top: 50px;
  }
  .thankyou {
    font-size: 8px;
  }

  .thankyou:before {
    font-size: 40px;
  }
  input[type="submit"] {
    margin-left: 110px;
  }
}
