.experience{
  background-color: #f0f0f0;
  padding-bottom: 50px;

}
.link button{
    margin-left: 10px;
    margin-top: 10px;
    color: whit;
}
.link button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #3e497a;
    border: none;
    border-radius: 15px;
  }
  
  .link button:hover {
    background-color: #525f9c;
    color: white;
    box-shadow: 0px 0px 10px black;

}
  
  .link button:active {
    background-color: #3e497a;
    box-shadow: 0 5px #666;
    transform: translateY(-2px);
  }
.link a{
    text-decoration: none;
    color: white;
}
.link{
    display: flex;
    justify-content: center;
}
#endtag{
    max-width: 5in;
    background-color: rgb(220, 225, 227);
    margin-left: 600px;
}
@media only screen and (max-width: 600px) {
  #endtag{
    max-width: 3in;
    margin-left: 30px;
  }
}